# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .vs & Debug
Project/.vs
Project/Debug
Project/Default/Debug
Project/Default/x64
!Project/Library/Fmod/lib/x64/*.*
!Project/x64/Debug/fmod.dll
